main > h1 {
    font-size: 3.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.75em;
}



.photo {
    border-radius: 1em;
    padding: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}


main > p {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
}

main > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillset {
   max-width: 35dvw;
    max-height: 40dvh;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: var(--darker-blue);

    
}




@media screen and (min-width:600px) {
    main > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    main > article {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 50dvw;
    }

    .skillset {
        max-width: 20dvw;
        max-height: 25dvh;
    }
}  


