main > h1 {
    font-size: 3.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.75em;
}

.photo {
    border-radius: 1em;
    padding: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}


main > p {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.skillset {
    width: auto;
    height: 25dvh;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: var(--darker-blue);
    
}

@media screen and (min-width: 600px) {
    .skillset {
        display: block;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }

   
    }

    


}