* {
    margin: 0;
    --dark-blue: #242582;
    --dark-purple: #553d67;
    --salmon: #f64c72;
    --grey: #99738e;
    --darker-blue: #2f2fa2;
    --tomato: #FF6347;

    
    font-family: "Sofia Sans", serif
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darker-blue);
    width: 100dvw;
    height: 10dvh;
    color: var(--dark-grey);
    font-size: 0.75em;
    margin-right: 2em;
    
    
}

header > h1 {
    padding: 0.75em;
    font-size: large;
    color: var(--salmon);
}






nav > a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0.3em;
    background-color: var(--cerulean-blue);
    border-radius: 0.5em;
    font-size: 1.5em;
    
    
}
    
    


main > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    font-size: 4em;
    
    margin: 0;
    
}

main > h3 {
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin: 0;
    
}

main > p {
    
    justify-content: center;
    align-items: center;
}

main {
    min-height: 85dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darker-blue);
    
    background-color: var();
    color: white;
    
    
}

main > * {
    margin: 2em;
}

main > a {
    text-decoration: none;
    padding: 1em;
    background-color: var(--salmon);
    border-radius: 0.5em;
    color: var(--dark-grey);
    
    justify-content: center;
    align-items: center;
    
}

main > img {
    width: auto;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25dvh;
    box-shadow: 25px -15px var(--salmon);
    border-radius: 1em;
   
    padding: 0.3em;
}

.email {
    justify-content: center;
    align-items: center;
    display: flex;

} 
 
nav > a:hover {
    animation: bounce 1.75s;
    color: var(--tomato);
    
}

a:hover {
    animation: bounce 1.75s infinite linear;
    color: var(--dark-purple);
}

footer {
    height: 5vh;
    width: 100dvw;
    background-color: var(--darker-blue);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    color: white;
    
}
footer > h6 {
    padding: 1em;
}